@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: FuturaPT, sans-serif;
    font-size: 16px;
}

body {
    background: $gradient-dark;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

.scroll-to-top {
    @include flex-center;
    background-color: #000;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 50;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }

    img {
        @include icon;
    }

    @media (max-width: $mobile-width) {
        bottom: 8px + $sidebar-height-mobile;
        width: 44px;
        height: 44px;
    }
}
