@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.chat {
    @include flex-column;
    //justify-content: space-between;
    height: calc(100vh - $navbar-height);

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: $spacing-lg;
    }

    &-user {
        display: flex;
        align-items: center;
    }

    &-avatar {
        @include profile-picture-small;
    }

    &-username, &-public-name {
        font-size: $font-size-lg;
        color: $white;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    &__close-button {
        @include flex-center;
        @include icon;
        cursor: pointer;
    }

    &__input-container {
        position: relative;
        width: 100%;
        min-height: $input-height;
        padding-right: $spacing-lg + 2px;
        display: flex;
        align-items: flex-end;
        margin-bottom: $spacing-md;
    }

    &__input-field {
        border-radius: $border-radius;
        border: 1px solid rgba(70, 70, 70, 0.5);
        background-color: transparent;
        color: $text-light;
        font-size: $font-size-sm;
        transition: all 0.2s ease;
        padding: 10px 60px $spacing-sm 20px;
        width: 100%;
        height: auto;
        min-height: 44px;
        max-height: 120px;
        overflow-y: auto;
        resize: none;
        white-space: pre-wrap;
        word-wrap: break-word;
        line-height: 1.4;

        &::-webkit-scrollbar {
            display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;

        &:focus {
            border-color: rgba($white, 0.8);
            background-color: $semi-transparent;
            color: $white;
            outline: none;
        }
    }

    &__messages {
        margin: $spacing-sm 0;
        height: 100%;
        overflow-x: hidden;
        box-sizing: border-box;

        &:hover, &:focus, &:active {
            overflow-y: auto;
        }

        @include popup-scroll($gradient-dark, #888);
        overflow-y: hidden;
        scrollbar-gutter: stable;
    }

    &__char-counter {
        position: absolute;
        top: 8px;
        right: 30px;
        font-size: 12px;
        color: $text-gray;
        display: none;
        background-color: $secondary-dark;
        padding: 0 4px;
        border-radius: $spacing-xs;
    }
}


.send-button {
    @include icon;
    width: 18px;
    height: 18px;
    position: absolute;
    right: $spacing-xl + 8px;
    bottom: 13px;
    cursor: pointer;
}

@media (max-width: $mobile-width) {
    .chat {
        height: calc(100vh - $navbar-height-mobile + $sidebar-height-mobile);

        &__input-container {
            padding-right: 0;
            margin-bottom: 0;
        }

        &-header {
            padding: 0;
        }

        &__input-field {
            padding-right: $spacing-lg + 18px;
        }

        &__messages {
            overflow-y: auto;
        }
    }
    .message-own {
        margin-right: 0 !important;
    }
    .send-button {
        right: $spacing-lg;
    }
}