<div id="chat" class="chat">
    <div class="chat-header">
        <div class="chat-user">
            <div class="chat-avatar">
                {{#if avatar}}
                    <img src="{{avatar}}" alt="">
                {{else}}
                    <p class="short-username">{{shortUsername}}</p>
                {{/if}}
            </div>
            <div class="chat-username">{{username}}</div>
        </div>
        <img
                src="/public/icons/arrow-left.svg"
                alt=""
                id="chat__close-button"
                class="chat__close-button"
        >
    </div>
    <div>
        <div class="chat__messages"></div>

        <div class="chat__input-container">
            <label for="chat-input"></label>
            <textarea
                    id="chat-input"
                    class="chat__input-field"
                    maxlength="500"
                    placeholder="Новое сообщение"
                    rows="1"
            ></textarea>
            <div id="chat-char-counter" class="chat__char-counter"></div>
            <img
                    src="/public/icons/send-button.svg"
                    alt=""
                    class="send-button"
            >
        </div>
    </div>
</div>