@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.message-container {
    width: 100%;
    display: flex;
}

.message, .message-own {
    position: relative;
    word-wrap: break-word;
    min-width: 150px;
    max-width: 300px;
    min-height: 44px;
    border-radius: $border-radius;
    padding: $spacing-sm $spacing-sm $spacing-lg $spacing-sm;
    //padding: $spacing-sm;
    color: $white;
}

.message {
    background-color: #333;

    &__time {
        position: absolute;
        right: $spacing-sm;
        bottom: $spacing-xs;
        color: $white;
    }
}


.message-own {
    background: $gradient-purple;
    margin-right: $spacing-lg;
    margin-left: auto;
}