@use '../../../styles/variables' as *;

.toast {
    position: fixed;
    bottom: $spacing-xl;
    right: $spacing-xl;
    padding: $spacing-m $spacing-l;
    border-radius: $border-radius-m;
    background-color: rgba($background-dark, 0.8);
    box-shadow: $shadow-light;
    color: $white;
    font-size: $font-size-m;
    z-index: 1000;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &_visible {
        opacity: 1;
        transform: translateY(0);
    }

    &_success {
        border-left: 4px solid $success;
    }

    &_error {
        border-left: 4px solid $error;
    }
}