@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.one-pin-page-wrapper {
    @include main-page;
}

.one-pin-page {
    grid-area: page;
    display: grid;
    grid-template-areas: 'box-1 box-2';
    grid-template-columns: 404px auto;
}

.one-pin__box-1__pin {
    @include big-pin-container;
}

.one-pin {
    &-header {
        margin-top: 30px;
        font-size: 24px;
        font-weight: bold;
    }

    &-description {
        margin-top: 10px;
        white-space: pre-wrap;
    }

    &__author-area {
        display: flex;
        align-items: center;
        margin-right: auto;
        margin-top: 20px;

        &__pfp {
            @include profile-picture-small;
            @include button;
            cursor: pointer;
        }

        &__username {
            white-space: nowrap;
            font-weight: bold;
            font-size: 20px;
        }

        &__tag {
            white-space: nowrap;
            cursor: pointer;
        }
    }

    &__box-1 {
        grid-area: box-1;
    }

    &__box-2 {
        grid-area: box-2;
        margin-left: 60px;
        color: #fff;
    }

    &__buttons {
        display: flex;
        gap: 36px;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        margin-top: 20px;

        &__button {
            @include button;
            display: flex;
            gap: 16px;
            cursor: pointer;

            img {
                @include icon;
            }
        }

        &__box-1 {
            display: flex;
            gap: 16px;
        }

        &__box-2 {
            display: flex;
            gap: 16px;
        }
    }

    &__edit-button {
        @include button;
        @include flex-center;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #333;
        cursor: pointer;
    }

    &__dropdown-block {
        @include button;
        display: flex;
        justify-content: space-between;
        width: 100px;
        max-height: 40px;
        cursor: pointer;
    }

    &__save-block {
        @include button;
        display: flex;
        align-items: center;
        gap: 16px;
    }
}

.save-button {
    background-color: #fff;
    color: #000;
    width: 94px;
    height: 44px;
    border-radius: $border-radius;
    border: none;
    flex-shrink: 0;

    &:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }
}


.like, .like_active {
    @include icon;
    cursor: pointer;
}

.like {
    content: url("/public/icons/like.svg");
}

.like_active {
    content: url("/public/icons/like-filled.svg");
}

@media (max-width: $mobile-width) {
    .one-pin {
        &-page {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100vw;
            padding: 0 $mobile-horizontal-padding;
        }

        &__box-1 {
            position: relative;
        }

        &__buttons {
            width: 100%;
            padding: 0;
        }

        &__dropdown-block {
            width: $icon-size;
        }

        &__box-1, &__box-2 {
            margin: 0;
            padding: 0;
            width: 100%;
            max-width: 404px;
        }

        &__edit-button {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }
    }

    .one-pin__box-1__pin {
        max-height: 100%;
        width: 100%;
        max-width: 404px;
    }

    .pin__dropdown-board {
        display: none;
    }
}
