.error-message {
    justify-self: right;
    height: 15px;
}

.button {
    width: 440px;
    height: 44px;
    color: white;
    background-color: black;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 30px;
}

button:disabled {
    background-color: #bebebe;
    cursor: not-allowed;
    opacity: 100%;
}

.redirect:hover {
    cursor: pointer;
}

.page-logo {
    margin: 62px 10px 20px 94px;
    opacity: 80%;
    width: 300px;
    height: 160px;
    -webkit-user-drag: none;
}

.background-vector {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(110deg) translateY(20%) translateX(15%);
    -webkit-user-drag: none;
}

.background {
    width: 100%;
    min-width: 0;
    position: relative;
}

.picture-box {
    max-height: 700px;
    max-width: calc(100%);
    position: absolute;
    left: 92px;
    top: 292px;
    columns: 205px auto;
}

.picture {
    width: 205px;
    border-radius: 20px;
    background-color: #303030;
    margin-bottom: 20px;
    break-inside: avoid;
    object-fit: contain;
    z-index: 100;
    margin-right: 32px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
