@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.new-pin-page {
    @include main-page;
}

.edit-pin__image {
    @include big-pin-container;
}

.new-pin-form {
    grid-area: page;
    display: flex;
}

.description-box {
    display: flex;
    flex-direction: column;
    max-width: $input-width;
    color: $text-light;
    margin-left: $spacing-xxl;
}

.description-box_form {
    margin-top: 20px;

}

.create-pin-button {
    margin-top: 16px;
    width: $input-width;
    height: $input-height;
    border-radius: $border-radius;
    background-color: $text-gray;
    color: $text-light;
    border: none;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.about-textarea {
    margin-top: $spacing-xs;
    padding: $spacing-sm $spacing-lg;
    border-radius: $border-radius;
    background-color: $transparent;
    color: $text-light;
    width: 100%;
    border: 1px solid rgba(70, 70, 70, 0.5);
    font-size: $font-size-sm;
    resize: none;
    height: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.3);
    }
}

.toggle-area {
    display: flex;
    gap: 12px;
    margin-top: 24px;
}

.delete-pin-button, .delete-pin-button_confirm {
    margin-top: 24px;
    display: flex;
    align-items: center;
    width: 130px;
    gap: 12px;

    &:hover {
        cursor: pointer;
    }

    &_confirm {
        color: $error-color;
    }
}

@media (max-width: $mobile-width) {
    .new-pin {
        &-form {
            flex-direction: column;
            width: 100%;
            padding: 0 $mobile-horizontal-padding;
            justify-content: initial;
        }
    }

    .create-pin-button {
        width: 100%;
    }
    .description-box {
        margin-left: 0;
        max-width: 100%
    }
    .about-textarea {
        height: 100px;
    }
}