<div class="new-pin-page" id="page">
    <div class="new-pin-form">
        {{#if edit}}
            <img src="{{url}}" alt="" class="edit-pin__image">
        {{/if}}
        <div class="description-box">
            <div>
                <h1 class="header">{{header}}</h1>
                <form class="description-box_form" id="description-box_form">
                    <div class="input-placeholder"></div>
                </form>
                <label class="input-field-label" for="about">Описание</label>
                <textarea
                        class="about-textarea"
                        name="Описание"
                        id="about"
                        cols="30"
                        rows="10"
                        maxlength="512"
                >{{#if edit}}{{description}}{{/if}}
                </textarea>
                <div class="toggle-area">
                    <div class="toggle-placeholder"></div>
                    <p>Сделать flow приватным</p>
                </div>
            </div>
            <button class="create-flow-button" id="create-flow-button">
                {{#if create}}
                    Создать flow
                {{else}}
                    Изменить flow
                {{/if}}
            </button>
        </div>
    </div>
</div>

