@use 'shared/styles/variables' as *;

.auth-page-header {
    color: $black;
    font-size: 36px;
}

.error-message {
    justify-self: right;
    height: $spacing-md;
}

.auth-page-button {
    width: $input-width;
    height: $button-height;
    color: $text-light;
    background-color: $text-dark;
    cursor: pointer;
    border: none;
    border-radius: $border-radius;
    font-size: $font-size-lg;
    margin-top: $spacing-xl;

    &:disabled {
        background-color: $disabled-color;
        cursor: not-allowed;
        opacity: $opacity-100;
    }
}

.redirect:hover {
    cursor: pointer;
}

.page-logo {
    margin: 62px $spacing-sm $spacing-lg 94px;
    opacity: $opacity-80;
    width: $logo-width;
    height: $logo-height;
    -webkit-user-drag: none;
}

.background-vector {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(110deg) translateY(20%) translateX(15%);
    -webkit-user-drag: none;
    z-index: 100;
}

.background {
    width: 100%;
    min-width: 0;
    position: relative;
}

.picture-box {
    max-height: 700px;
    max-width: calc(100%);
    position: absolute;
    left: $sidebar-width;
    top: 292px;
    columns: 205px auto;
    margin-right: $spacing-md;
    z-index: 100;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.VKID-wrapper {
    margin-top: 16px;
}
