@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.popup {
    position: absolute;
    top: calc(100vh / 2 - 350px / 2);
    left: calc((100vw - 560px) / 2);
    width: 560px;
    height: 350px;
    background-color: #fff;
    border-radius: $border-radius;
    z-index: 1100;
    padding: $spacing-lg;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    &__button-create, &__button-delete, &__button-edit {
        width: 440px;
        height: $button-height;
        border: none;
        border-radius: $border-radius;
        color: white;

        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }

    &__button-create, &__button-edit {
        background-color: black;
    }

    &__button-delete {
        background-color: $error-color;
    }
}

.black-background {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 100;
    opacity: 0.3;
}
