<div class="subscriptions-page">
    <div class="subscriptions">
        <div class="subscriptions__header">
            <div class="header white bold">
                {{header}}
            </div>
            <div class="tab-bar-placeholder"></div>
            
        </div>
        <div class="subscriptions__users"></div>
    </div>
</div>
