<div class="black-background"></div>
<div class="popup nsfw-popup" id="popup">
    <div class="header bold popup__text">Предупреждение</div>
    <div class="subheader popup__text">Вы уверены, что хотите открыть flow? Возможно, на ней нецензурный контент.</div>
    <img class="popup__close" src="/public/icons/cross-grey.svg" alt="close popup">
    <div class="popup__buttons">
        <button id="nsfw-cancel-button" class="popup__cancel-button">Отмена</button>
        <button id="nsfw-confirmation-button" class="popup__confirmation-button">Показать</button>
    </div>
</div>