<div class="black-background"></div>
<div class="VKID-popup" id="popup">
    <div>
        <h1 class="auth-page-header">Почти готово</h1>
        <label for='' class="subheader">Еще немного и вы с flow</label>
    </div>
    <form id="username-form">
        <div class="input-placeholder"></div>
    </form>
    <button
            class="VKID-popup__button"
            type="submit"
            disabled="disabled"
    >Завершить регистрацию
    </button>
</div>