@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.sidebar {
    background: $gradient-dark;
    position: fixed;
    left: 0;
    top: $navbar-height;
    height: calc(100% - $navbar-height);
    width: $sidebar-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: $z-navbar;
}

.sidebar__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    gap: $spacing-xl;
    width: 100%;
    margin-bottom: 36px;
}

.sidebar-button {
    &:hover {
        cursor: pointer;
    }

    &_disabled:hover {
        cursor: not-allowed;
    }

    &_disabled {
        opacity: 0.5;
    }
}

.sidebar-button, .sidebar-button_confirm {
    width: $button-height;
    height: $button-height;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-button {
    background-color: $button-dark;
    &:hover {
        background-color: $button-hover;
    }

    &.active {
        background-color: $white;

        img {
            filter: brightness(0%);
        }
    }
}

.sidebar-button_confirm {
    background-color: $error-color;
    opacity: 1;
}

.sidebar-button__icon {
    @include icon;
    cursor: inherit;
    opacity: 0.8;
}

.display-none {
    display: none;
}

.go-back-button {
    @include icon;
    cursor: pointer;
}

.logout-toast {
    position: fixed;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 12px 24px;
    border-radius: 20px;
    border: solid 1px #000;
    z-index: 1000;

    left: 210px;
    bottom: 36px;
    color: black;
}