@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.sidebar {
    background: $gradient-dark;
    position: fixed;
    left: 0;
    top: $navbar-height;
    height: calc(100vh - $navbar-height);
    width: $sidebar-width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: $z-navbar;
}

.sidebar__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-xl;
    width: 100%;
    margin-bottom: 36px;
}

.sidebar-button, .sidebar-button_confirm {
    @include button;
    width: $button-height;
    height: $button-height;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.2s;

    img {
        @include icon;
    }
}

.sidebar-button {
    background-color: $button-dark;

    &:hover {
        background-color: $button-hover;
    }

    &_confirm {
        background-color: $error-color;
    }

    &#newPin:hover img, &#newPin.active img {
        content: url('/public/icons/plus-white-filled.svg');
    }

    &#settings:hover img, &#settings.active img {
        content: url('/public/icons/settings-filled.svg');
    }

    &#chats:hover img, &#chats.active img {
        content: url('/public/icons/chat-active.svg');
    }

    &#chats.notify img {
        content: url('/public/icons/chat-unread.svg');
    }

    &#chats.active.notify img {
        content: url('/public/icons/chat-active-unread.svg');
    }
}

.go-back-button {
    @include icon;
    cursor: pointer;
    background: none;
    border: none;
}

.logout-toast {
    position: fixed;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 12px 24px;
    border-radius: 20px;
    border: solid 1px #000;
    z-index: 1000;

    left: 210px;
    bottom: 36px;
    color: black;
}

@media (max-width: $mobile-width) {
    .sidebar {
        width: 100%;
        height: $sidebar-height-mobile;
        flex-direction: row;
        bottom: 0;
        top: auto;
        background: #222222;
    }

    .sidebar__button-container {
        flex-direction: row;
        margin-bottom: 0;
        justify-content: center;
        width: 100%;
    }
}