<div class="worm-container" id="footer">
    <p>Похоже, это конец данного flow... Но у нас еще много интересного. Оставайтесь в потоке :)</p>
    <img src="img/line-3.png" alt="" class="wormy">
</div>