<div class="not-found-page">
    <div class="not-found-container">
        <h1 class="not-found-title">404</h1>
        <p class="not-found-message">Упс... похоже такой волны у нас нет...</p>
    </div>
    <div class="gradient-background"></div>
</div>