.login-container {
    background-color: white;
    display: grid;
    position: relative;
    height: 100%;
    width: 572px;
    grid-template-rows: 526px auto;
    margin-left: auto;
}

.login-form {
    margin-top: 54px
}

.login-box-1 {
    padding: 112px 66px 0 66px;
}

.login-box-2 {
    padding: 18px 66px 0 66px;
    background-color: #f7f7f7;
}

.login-redirect {
    float: right;
    margin-top:12px;
    font-size: 20px;
}

.error-message {
    justify-self: right;
    height: 15px;
}
