@use 'shared/styles/variables' as *;

.signup-page {
    background: $gradient-dark;
    display: flex;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.signup-container {
    padding: 52px 66px 0 66px;
    width: 572px;
    background-color: $white;
    z-index: $z-navbar;
}

.signup-form {
    margin-top: 24px;
}

.signup-box-1 {
}

.signup-redirect {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: $spacing-sm;
    font-size: $font-size-lg;
}