{{#if avatar}}
    <img src="{{avatar}}" alt="" class="coauthor-card__avatar">
{{else}}
    <div class="coauthor-card__avatar">
        <span>{{shortUsername}}</span>
    </div>
{{/if}}
<div class="coauthor-card__username">{{username}}</div>
{{#if isCreator}}
    <div class="coauthor-card__badge">Создатель</div>
{{/if}}
{{#if canRemove}}
    <img src="/public/icons/delete.svg" alt="remove coauthor" class="coauthor-card__action">
{{/if}}
{{#if canLeave}}
    <img src="/public/icons/log-out.svg" alt="leave board" class="coauthor-card__action">
{{/if}}
