.input, .input__field, .input--invalid {
    height: 44px;
    border-radius: 20px;
    background-color: #EEE;
    color: #666;
}

.input {
    width: 440px;
    margin-top: 6px;
    position: relative;
}

.input__field:focus {
    background-color: #f8f8f8;
    color: #333;
    outline: none;
}

.input__field {
    width: 440px;
    border: none;
    padding: 10px 60px 12px 20px;
}

.input__field.error {
    border: 2px solid red;
}

.input--invalid {
    width: 440px;
    border: 2px solid red;
    appearance: none;
}

.input__error {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.required {
    color: red;
}

.input__toggle-password {
    position: absolute;
    right: 12px;
    transform: translateY(45%);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.hidden {
    visibility: hidden;
}