<div class="delete-popup" id="popup">
    <div class="delete-popup__header">Вы уверены?</div>
    <div class="delete-popup__content">
        Если вы удалите этот flow, он исчезнет навсегда<br>
        и станет недоступным для тех, кто его сохранил.
    </div>
    <div class="delete-popup__buttons">
        <button id="cancel-button" class="cancel-button">Отмена</button>
        <button id="confirm-button" class="confirm-button">Удалить</button>
    </div>
</div>
