<div class="sharing-header">Поделись волной</div>
<img src="/public/icons/cross-grey.svg" alt="" class="sharing__close-button">

<div class="sharing__buttons">
    <div class="sharing__button-container">
        <img src="/public/icons/copy.svg" alt="" class="sharing__button" id="copy-link">
        <span>Копировать ссылку</span>
    </div>
    <div class="sharing__button-container">
        <a href="https://vk.com/share.php?url=https://yourflow.ru/flow/{{id}}" target="_blank">
            <img src="/public/icons/vk-button.svg" alt="" class="sharing__button">
        </a>
        <span>Поделиться в VK</span>
    </div>
    <div class="sharing__button-container">
        <a href="https://t.me/share/url?url=https://yourflow.ru/flow/{{id}}" target="_blank">
            <img src="/public/icons/tg-button.svg" alt="" class="sharing__button">
        </a>
        <span>Поделиться в Telegram</span>
    </div>
</div>