@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;


.profile {
    grid-area: page;
    min-height: 100vh;

    &-page {
        @include main-page();
    }

    &__feed {
        column-gap: $spacing-xl;
        grid-area: page;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-top: $spacing-xl;
    }
}

.author-area {
    display: flex;
    justify-content: space-between;
    margin-right: $spacing-lg;
    align-items: center;

    &__box-1 {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    &__box-2 {
        display: flex;
        align-items: center;
    }
}

.box-1 {
    &__menu {
        color: #fff;
        display: flex;
        align-items: center;
        gap: $spacing-sm;
    }
}

.create-board {
    display: flex;
    align-items: center;
    gap: $spacing-sm;

    img {
        @include icon;
    }

    &:hover {
        cursor: pointer;
        img {
            content: url("/public/icons/plus-white-filled.svg");
        }
    }
}

.author {
    &__name {
        color: white;
    }

    &__profile-picture {
        @include profile-picture-small;
    }
}

.user-profile__header {
    font-size: 36px;
}

@media (max-width: $mobile-width) {
    .profile__feed, .box-1__menu, .user-profile__header {
        padding: 0 $mobile-horizontal-padding;
    }
    .author-area {
        display: block;
        padding: 0 $mobile-horizontal-padding;
        margin: 0;

        &__box-2 {
            margin-top: $spacing-sm;
        }
    }

    .box-1__menu, .user-profile__header {
        padding: 0;
    }
}