@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;


.image-input {
    @include flex-center;
    flex-direction: column;
    background-color: #323232;
    border-radius: $border-radius;

    width: $image-input-width;
    height: $image-input-height;

    &__text {
        color: $text-light;
        text-align: center;
    }
}

.upload-icon {
    margin-bottom: $spacing-lg;
}
