<div class="image-input" id="image-input-container">
    <img src="/public/icons/upload.svg" alt="upload image" id="upload-image" class="upload-icon">
    <div class="image-input__text">
        <p>Загрузите изображение <br>
            в формате .png, .jpg, .jpeg не более 3 Мб</p>
    </div>
</div>

