@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;


.image-input {
    @include flex-center;
    flex-direction: column;
    background-color: #323232;
    border-radius: $border-radius;

    width: $image-input-width;
    height: $image-input-height;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease;
    border: 2px dashed transparent;
    
    &__button {
        background-color: #323232;
        border: none;
        color: $text-light;
        text-align: center;

        &:hover {
            cursor: pointer;
        }
    }

    &__field {
        display: none;
    }

    &__clear-button {
        position: absolute;
        top: $spacing-sm;
        right: $spacing-sm;
        padding: 6px;
        border-radius: 100%;
        background-color: $secondary-dark;

        &:hover {
            cursor: pointer;
            opacity: $opacity-80;
        }
    }

    &__error-label {
        color: $error-color;

    }

    &__dragover {
        border-color: $text-light;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &__hint {
        color: $text-light;
        position: absolute;
        bottom: $spacing-xl;
    }
}

.upload-icon {
    margin-bottom: $spacing-lg;

    &:hover {
        cursor: pointer;

    }
}

.preview-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.display-none {
    display: none;
}