<div class="empty-page">
    <img src="/public/img/surfer.svg" alt="surfer">
    <div class="input-field-label white">Пока что здесь пусто</div>
    <button class="go-to-feed">На поиск своего flow</button>
</div>