@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;


.board {
    grid-area: page;
    min-height: calc(100vh - $navbar-height + 10px);

    &-page {
        @include main-page();
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding-right: $feed-padding;
        margin-top: $spacing-md;
        font-size: $font-size-xl;
        color: $white;
        font-weight: bold;
    }

    &__feed {
        margin-top: $spacing-xl;
    }

    &__settings-button {
        @include icon;
        cursor: pointer;
    }
}

.divider {
    width: calc(100% - $feed-padding);
    margin-top: $spacing-lg;
    height: $divider-height;
    border-radius: $border-radius;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: relative;
    
    background: linear-gradient(45deg, 
        var(--color-1), 
        var(--color-2), 
        var(--color-3), 
        var(--color-4));
    background-size: 300% 300%;
    animation: gradientBG 8s ease infinite;

    &:hover::after {
        content: "Это цвет вашей доски. Добавляйте flow на доску и он изменится";
        position: absolute;
        top: 150%;
        padding: 5px 10px;
        background: #333;
        color: white;
        border-radius: 30px;
        font-size: 14px;
        white-space: nowrap;
        z-index: 100;
    }
}

.divider.visible {
    opacity: 1;
}


@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: $mobile-width) {
    .board {
        min-height: calc(100vh - $navbar-height-mobile + $sidebar-height-mobile);

        &__box-1 {
            padding: 0 $mobile-horizontal-padding;
        }

        &__header {
            padding: 0;
        }
    }
    .divider {
        width: 100%;
    }
}
