<div class="board">
    <div class="board__header" id="header">{{name}}</div>
    <div class="divider"></div>
    <div class="board__feed" id="feed"></div>
    <div class="scroll-to-top hidden">
        <img src="/public/icons/arrow-up.svg" alt="scroll to top" class="icon">
    </div>
</div>