<div class="navbar">
    <img
            src="/icons/logo-small.svg"
            class="navbar-logo"
            alt="site logo"
            aria-label="Main logo"
    />

    <input
            type="text"
            class="search-form"
            placeholder="Поиск..."
            id="search"
            aria-label="Search input"
    />

    <img
            src="/img/pfp1.jpg"
            class="profile-picture"
            alt="profile picture"
            aria-label="User profile"
    />
</div>