@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.contact-list {
    @include flex-column;
    @include popup-scroll($gradient-dark, #888);
    height: 100%;
    overflow-y: scroll;
    max-height: calc(100vh - $navbar-height);

    &__header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-self: center;
        padding-right: $spacing-lg;
    }

    &__back-button {
        @include flex-center;
        cursor: pointer;
    }

    &__item {
        cursor: pointer;
        padding: $spacing-md;
        border-radius: $border-radius;
        transition: all 0.2s ease;

        &:hover {
            background-color: $semi-transparent;
        }
    }
}


.contact-preview {
    width: 100%;
    display: grid;
    grid-template-areas: 'avatar username'
                         'avatar publicname';
    grid-template-columns: $profile-picture-size + $spacing-lg auto;
    grid-template-rows: repeat(2, auto);
    cursor: pointer;
    color: $white;

    &__avatar {
        grid-area: avatar;
        @include profile-picture-small;

        &:hover {
            opacity: 1;
        }
    }

    &__public-name {
        font-weight: bold;
        font-size: 18px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }
}

@media (max-width: $mobile-width) {
    .contact-list__header {
        padding-right: 0;
    }
}
