@use '../../../styles/variables' as *;

.signup-page {
    background: linear-gradient(to bottom, $primary-dark, $button-dark);
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.signup-form {
    margin-top: 50px;
}

.signup-container {
    padding: $spacing-xl 66px 0 66px;
    height: 100%;
    width: 572px;
    background-color: $white;
    z-index: $z-modal;
}

.signup-header {
    margin-top: $spacing-xl;
    font-size: $font-size-xl;
    color: $text-dark;
}

.signup-redirect {
    margin-top: $spacing-sm;
    font-size: $font-size-lg;
    color: $text-focus;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.signup {
    &-page {
        display: grid;
        grid-template-columns: $grid-half $grid-half;
        min-height: 100vh;
        overflow: hidden;
    }

    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-box-1 {
        width: $input-width;
    }

    &-form {
        display: grid;
        gap: $spacing-lg;
        margin-top: $spacing-xl;
    }

    &-redirect {
        margin-top: $spacing-md;
        text-align: center;
    }
} 