<div class="signup-page">
    <div>
        <img src="img/logo.png" class="page-logo" alt="site logo">
        <img src="img/line-1.png" class="background-vector" aria-hidden="true" alt="">
    </div>
    <div class="signup-container">
        <div class="signup-box-1">
            <h1 class="header">Регистрация</h1>
            <label class="subheader">Еще пару шагов и Вы с flow!</label>

            <form class="signup-form">
                {{#each inputs}}
                    {{> ../../../shared/components/input/input this}}
                {{/each}}

                <button type="submit" class="button">Зарегистрироваться</button>

                <div class="signup-redirect">
                    Уже есть аккаунт?
                    <a class="label bold redirect">Войти</a>
                </div>
            </form>
        </div>
    </div>
</div>