.sidebar {
    background: linear-gradient(to bottom, #141414, #252525) fixed;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 92px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.sidebar__button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: end;
    gap: 32px;
    width: 100%;
    margin-bottom: 36px;
}

.sidebar-button:hover {
    cursor: pointer;
}

.sidebar-button_disabled:hover {
    cursor: not-allowed;
}
