@use 'shared/styles/variables' as *;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin button-base {
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
}

@mixin grid-center {
    display: grid;
    place-items: center;
}

@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@mixin main-page {
    background: $gradient-dark;
    display: grid;
    grid-template-columns: $sidebar-width auto;
    grid-template-rows: $navbar-height auto;
    grid-template-areas:
        "header header"
        "sidebar page";
    gap: 0;
}

@mixin content-area {
    grid-area: page;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - $navbar-height);
    padding-right: $feed-padding;
}

@mixin transparent-active {
    background-color: #fff;
    opacity: 0.1;
}

@mixin popup-scroll() {
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 5px;
        margin: 20px 0;
    }

    &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 5px;
        border: 2px solid transparent;
        background-clip: content-box;
    }
}

@mixin profile-picture-small {
    width: $profile-picture-size;
    height: $profile-picture-size;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-right: $spacing-lg;

    img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        margin: 0;
    }

    &:hover {
        opacity: $opacity-80;
        cursor: pointer;
    }
}

@mixin short-username {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    font-size: $font-size-xxl;
    font-weight: bold;
    background-color: white;
    color: black;
    user-select: none;
}