@use 'shared/styles/variables' as *;

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin button-base {
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
}

@mixin grid-center {
    display: grid;
    place-items: center;
}

@mixin text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin no-select {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

@mixin main-page {
    background: $gradient-dark;
    display: grid;
    grid-template-columns: $sidebar-width auto;
    grid-template-rows: $navbar-height auto;
    grid-template-areas:
        "header header"
        "sidebar page";
    gap: 0;
}

@mixin content-area {
    grid-area: page;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - $navbar-height);
    padding-right: $feed-padding;
}

@mixin transparent-active {
    background-color: #fff;
    opacity: 0.1;
}