<div class="gauge">
    <svg viewBox="0 0 200 150">
        <path class="gauge-bg" d="M30,100 A70,70 0 0,1 170,100" />
        <path class="gauge-fill" d="M30,100 A70,70 0 0,1 170,100" />
        <text
                class="gauge-percentage header"
                x="100"
                y="90"
                text-anchor="middle"
                dominant-baseline="middle"
        >{{percentage}}%
        </text>
    </svg>
</div>