.gauge {
    position: relative;
    width: 200px;
    height: 150px;
    transform: translate(-50%, -50%);

    svg {
        width: 100%;
        height: 100%;
        display: block;
    }

    &-bg, &-fill {
        fill: none;
        stroke-width: 14;
    }

    &-bg {
        stroke: #999;
    }

    &-percentage {
        fill: #fff;
        position: absolute;
        top: 40%;
        left: 35%;
    }
}
