@font-face {
    font-family: 'FuturaPT';
    src: url('../../public/fonts/futura-pt-book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('../../public/fonts/futura-pt-demi.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}


.header {
    font-size: 36px;
    color: #000;
}

.subheader {
    font-size: 18px;
    color: #666;
}

.label {
    font-size: 20px;
    color: #333;
}

.link-label {
    font-size: 16px;
    text-decoration: none;
}

.input-text {
    font-size: 14px;
    color: #fff;
}

.input-field-label {
    font-size: 16px;
}

.error-label {
    font-size: 14px;
    color: #FF4A4A;
}

.bold {
    font-weight: bold;
    text-decoration: none;
}
