.login-page {
    background: linear-gradient(to bottom, #141414, #303030);
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.login-container {
    background-color: white;
    display: grid;
    position: relative;
    height: 100%;
    width: 572px;
    grid-template-rows: 526px auto;
    margin-left: auto;
    z-index: 100;
}

.login-form {
    margin-top: 54px;
}

.login-box-1 {
    padding: 112px 66px 0 66px;
}

.login-box-2 {
    padding: 18px 66px 0 66px;
    background-color: #f7f7f7;
}

.login-redirect {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top:12px;
    font-size: 20px;
}
