@use 'shared/styles/variables' as *;

.login-page {
    background: $gradient-dark;
    display: flex;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.login-container {
    width: 572px;
    background-color: $white;
    z-index: $z-navbar;
}

.login-form {
    margin-top: 54px;
}

.login-box-1 {
    padding: 112px 66px 0 66px;
}

.login-redirect {
    display: flex;
    justify-content: center;
    gap: 4px;
    margin-top: $spacing-sm;
    font-size: $font-size-lg;
}