.CSAT {
  &-popup {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 500px;
    max-height: 350px;
    padding: 20px 30px;
    gap: 20px;
    border-radius: 20px;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  &-submit {
    //width: 440px;
    height: 44px;

    width: 100%;
    max-width: 440px;

    background-color: #000;
    color: white;
    border: none;
    border-radius: 20px;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: #bebebe;
    }
  }

  &-prev, &-next {
    height: 44px;
    width: 100px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 20px;

    &:hover {
      cursor: pointer;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: #bebebe;
    }
  }

  &__buttons-container {
    width: 100%;
    justify-content: space-around;

    //width: 50%;
    display: flex;
    //justify-content: space-between;
  }

  &-counter {
    position: absolute;
    right: 30px;
    bottom: 20px;
  }

  &-textarea {
    padding: 12px 24px;
    border-radius: 20px;
    background-color: transparent;
    width: 100%;
    border: 1px solid rgba(70, 70, 70, 0.5);
    font-size: 16px;
    resize: none;
    height: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.3);
    }
  }

  &-close {
    position: absolute;
    top: 10px;
    right: 10px;

    &:hover {
      cursor: pointer;
    }
  }
}
