<a class="navbar-logo"
    id="scroll-to-top"
    aria-label="Scroll to top"
>

    <img
            src="/public/icons/logo-small.svg"
            alt="site logo"
            aria-label="Main logo"
    />
</a>
<input
        type="text"
        class="search-form"
        placeholder="Поиск..."
        id="search"
        aria-label="Search input"
        maxlength="120"
/>

{{#if authorized}}
<div class="navbar__profile-picture">
    {{#if avatar}}
        <img
                src={{avatar}}
                alt="profile picture"
                aria-label="User profile"
        >
    {{else}}
        <p class="shortUsername">{{shortUsername}}</p>
    {{/if}}
</div>
{{else}}
<button
    class="feed-redirect"
    id="goToLogin"
>
    Войти
</button>
{{/if}}
