@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

// Переменные
$navbar-height: 88px;
$navbar-padding: 20px;
$search-height: 48px;
$border-radius: 20px;

// Миксины
@mixin flex-center {
    display: flex;
    align-items: center;
}

// Основные стили
.navbar {
    position: fixed;
    background-color: $primary-dark;
    display: flex;
    width: 100%;
    height: $navbar-height;
    padding: $spacing-lg 0;
    align-items: center;
    justify-content: space-between;
    z-index: $z-navbar;
}

.navbar-logo {
    align-self: center;
    margin: 0 $spacing-md;
    float: left;
    cursor: pointer;
}

.search-form {
    flex-grow: 1;
    height: $profile-picture-size;
    margin-right: $spacing-lg;
    padding: $spacing-sm;
    padding-left: $spacing-lg;
    border-radius: $border-radius;
    border: none;

    &:focus {
        background-color: $background-focus;
        color: $text-focus;
        outline: none;
    }
}

.navbar__profile-picture {
    @include profile-picture-small;
}

.shortUsername {
    @include short-username;
}

.feed-redirect {
    color: $text-light;
    background-color: $text-dark;
    border-radius: $border-radius;
    border: none;
    width: 94px;
    height: $profile-picture-size;
    margin-right: $spacing-lg;

    &:hover {
        cursor: pointer;
        opacity: $opacity-60;
    }
}

.display-none {
    display: none;
}
