<a class="navbar-logo"
    id="scroll-to-top"
    aria-label="Scroll to top"
>

    <img
            src="/public/icons/logo-small.svg"
            alt="site logo"
            aria-label="Main logo"
    />
</a>
    <form class="search-form-container">
        <input
                type="text"
                class="search-form__input"
                placeholder="Поиск..."
                id="search"
                aria-label="Search input"
                maxlength="120"
        />
        <img
                src="/public/icons/filter.svg"
                class="search-form__filter"
                id="filter-button"
                alt="filter"
        >
        <img
                src="/public/icons/cross-grey.svg"
                class="search-form__clear hidden"
                id="clear-search"
                alt="clear search"
        >
    </form>

{{#if authorized}}
    <img src="/public/icons/notification.svg" alt="" class="navbar__notification">

    <div class="navbar__pfp-box">
        <div class="navbar__profile-picture">
            {{#if avatar}}
                <img
                        src={{avatar}}
                        alt="profile picture"
                        aria-label="User profile"
                >
            {{else}}
                <p class="shortUsername">{{shortUsername}}</p>
            {{/if}}
        </div>
    </div>
{{else}}
    <button class="feed-redirect" id="goToLogin">Войти</button>
{{/if}}
