<div class="settings-content">
    <h2 class="settings-header">Настройки безопасности</h2>
    <form class="settings-form">
        {{#each fields}}
        {{/each}}
        
        <button class="submit-button">Изменить пароль</button>
    </form>
</div>