@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.settings-page {
    color: $text-light;
    position: relative;
    overflow: hidden;

    @include main-page;
}

.settings-container {
    grid-area: page;
    margin-right: $spacing-xl;
    max-width: 900px;
    display: flex;
    gap: 136px;
}

.settings-content-container {
    flex: 1;
    border-radius: $border-radius;
    margin: 0 $spacing-xl;
    min-height: calc(100vh - $navbar-height);
    max-width: $input-width;
}

.settings-header {
    font-size: $font-size-xl;
    color: $text-light;
    margin-bottom: $spacing-xl;
}

.settings-form {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
}

.form-field {
    display: flex;
    flex-direction: column;
    gap: $spacing-xs;

    label {
        color: $text-light;
        font-size: $font-size-sm;
    }

    textarea {
        width: 100%;
        min-height: 120px;
        padding: $spacing-sm;
        background-color: transparent;
        color: $text-light;
        border: 1px solid rgba(70, 70, 70, 0.5);
        border-radius: $border-radius;
        font-size: $font-size-sm;
        transition: all 0.2s ease;
        resize: none;
        height: auto;

        &:focus {
            outline: none;
            border-color: rgba($white, 0.8);
            background-color: rgba($white, 0.05);
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 5px;
            margin: 20px 0;
        }

        &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 5px;
            border: 2px solid transparent;
            background-clip: content-box;
        }
    }
}

.submit-button {
    display: block;
    width: 100%;
    padding: $spacing-sm;
    background-color: $white;
    color: $text-dark;
    border: none;
    border-radius: $border-radius;
    font-size: $font-size-sm;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: $background-light;
    }

    &:disabled {
        background-color: $disabled-color;
    }
}

.message-toast {
    position: fixed;
    bottom: $spacing-xl;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba($white, 0.9);
    color: $text-dark;
    padding: $spacing-sm $spacing-md;
    border-radius: $border-radius;
    font-size: $font-size-sm;
    z-index: $z-modal;
}

.icon-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    background-color: $secondary-dark;
    padding: $spacing-sm 0;
    z-index: $z-navbar;
}


.avatar-container {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-lg;
}

.settings-profile-picture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: $spacing-lg;
    display: flex;
    justify-content: center;

    &:not(:has(img)) {
        background-color: white;
    }

    img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }

    .shortUsername {
        @include short-username;
    }
}

.change-photo-button {
    width: 200px;
    height: 44px;
    background-color: $white;
    color: $text-dark;
    border: none;
    border-radius: $border-radius;
    font-size: $font-size-sm;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
        background-color: $background-light;
    }
}

@media (max-width: $mobile-width) {
    .settings-container {
        flex-direction: column;
        margin: 0;
        padding: 0 $mobile-horizontal-padding;
        gap: $spacing-md;
        width: 100%;
        height: 100%;
    }

    .settings-page {
        min-height: calc(100vh - $navbar-height-mobile - $sidebar-height-mobile);
        grid-template-rows: $navbar-height-mobile calc(100vh - $navbar-height-mobile - $sidebar-height-mobile) $sidebar-height-mobile;

        &::after {
            height: 0;
            display: none;
        }
    }

    .form-field textarea {
        height: 180px;
        margin-bottom: $spacing-sm;
    }
    .settings-content-container {
        margin: 0;
    }
    .settings-form {
        gap: 0;
    }
    .tab-bar {
        margin: 0;
    }
}
