@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.dropdown {
    @include popup-scroll(#f1f1f1, #888);
    overflow-x: hidden;
    position: fixed;
    width: 360px;
    height: 300px;
    background-color: $white;
    border-radius: $border-radius;
    padding: 20px 20px 20px 14px;
    z-index: 100;
    box-sizing: border-box;

    &__label {
        font-size: 20px;
        font-weight: bold;
        padding-left: 6px;
    }

    &__create-board {
        display: flex;
        align-items: center;
        gap: $spacing-sm;
        margin-top: 10px;

        img {
            @include icon;
        }

        &:hover {
            cursor: pointer;

            img {
                content: url("/public/icons/plus-black-filled.svg");
            }
        }
    }
}
