<div class="dropdown" id="popup">
    <div class="dropdown__label">Сохранение на доску</div>
    <div class="tab-bar-placeholder"></div>
    <div class="dropdown__create-board">
        <img src="/public/icons/plus-black.svg" alt="create new board">
        <div class="label">
            создать доску
        </div>
    </div>
    <img src="/public/icons/cross-grey.svg" class="popup__close" alt="">
</div>