<div>
    <img
            src="/img/logo.png"
            class="page-logo"
            alt="site logo"
    />

    <img
            src="/img/line-1.png"
            class="background-vector"
            aria-hidden="true"
            alt=""
    />
</div>