@use 'shared/styles/mixins' as *;
@use 'shared/styles/variables' as *;

.empty-page__create-board {
    width: 252px;
    height: 44px;
    border-radius: $border-radius;
    border: none;

    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}