<div class="feed-filter">
    {{#if mobile}}
        <form class="mobile-search-form-container">
            <input
                    type="text"
                    class="mobile-search-form__input"
                    placeholder="Поиск..."
                    id="search"
                    aria-label="Search input"
                    maxlength="120"
            />
            <img
                    src="/public/icons/cross-grey.svg"
                    class="mobile-search-form__clear hidden"
                    id="clear-search"
                    alt="clear search"
            >
        </form>
    {{else}}
        <div class="feed-filter__header">Фильтры</div>
    {{/if}}
    <form class="filter-block">
        {{#each filterItem}}
            <div class="filter-item">
                <label
                        for="{{this.id}}"
                        class="subheader white"
                >{{this.title}}</label>
                <input
                        type="radio"
                        id="{{this.id}}"
                        {{#if this.checked}}checked="checked"{{/if}}
                        name="filter-radio-buttons"
                >
            </div>
        {{/each}}
    </form>
</div>
