@use 'shared/styles/variables' as *;

.toast-error, .toast-success, .toast-message {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -20px);
  background-color: #fff;
  padding: 12px 24px;
  border-radius: 20px;
  z-index: 1000;
    animation: ToastFadeIn 0.3s ease-out;
  min-height: 48px;
  max-height: 200px;
  max-width: 500px;
  display: block;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow: hidden;

  @keyframes ToastFadeOut {
    from {
      transform: translate(-50%, -20px);
    }
    to {
      transform: translate(-50%, 0);
    }
  }

  @keyframes ToastFadeIn {
    from {
      transform: translate(-50%, 0);
    }
    to {
      transform: translate(-50%, -20px);
    }
  }
}

.toast-error {
  color: #ff4a4a;
}

.toast-success {
  color: #93c47d;
}

.toast-message {
  color: #000;
}

@media (max-width: $mobile-width) {
  .toast-error, .toast-success, .toast-message {
    max-width: 90%;
    bottom: $sidebar-height-mobile;
  }
}
