<div class="black-background"></div>
<div class="board-settings-container">
    <div class="board-settings-wrapper">
    <div class="board-settings__header">
        Управление доской
        <img
                class="board-settings__close-button"
                src="/public/icons/cross.svg"
                alt="close-settings"
        >
    </div>
    <div class="input-placeholder"></div>
    <div>
        Видимость доски
        <div class="board-settings__toggle-area">
            <div class="toggle-placeholder"></div>
            <label for="isPrivate">Приватная</label>
        </div>
    </div>
    <div class="board-settings__invite-button" id="invite">
        <img id="invite-button" src="/public/icons/plus-white.svg" alt="invite coauthor">
        <div id="board-settings__delete-button__text">
            Пригласить соавторов
        </div>
    </div>
        <div class="board-settings__link-management" id="links">
            <img src="/public/icons/link.svg" alt="manage invitations">
            <span>
                Управление приглашениями
            </span>
        </div>
    <div class="coauthors-section">
        <div class="coauthors-section__title">Соавторы</div>
        <div class="coauthors-section__list" id="coauthors-list">
            <!-- Coauthor cards will be inserted here -->
        </div>
    </div>
    <div class="board-settings__delete-button" id="board-settings__delete-button">
        <img id="delete-board-button" src="/public/icons/delete.svg" alt="delete board">
        <div id="board-settings__delete-button__text">
            Удалить доску
        </div>
    </div>
    <button class="board-settings__submit-button">Сохранить изменения</button>
    </div>
</div>