<div class="invite-popup" id="popup">
    <img src="/public/icons/cross-grey.svg" alt="" class="invite-popup__close-button popup__close">
    <div class="header bold">Приглашение соавторов</div>
    <div class="subheader">Командный серфинг веселее</div>
    <div class="invite-popup__link-box">
        <div class="invite-popup__link-input"></div>
        <img src="/public/icons/copy.svg" alt="" class="invite-popup__copy-button">
    </div>
    <div class="invite-popup__image">
        <img src="/public/img/two-surfs.svg" alt="">
    </div>
</div>