@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;


.black-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000;
    z-index: 100;
    opacity: 0.3;
}

.popup {
    @include popup-scroll(#f1f1f1, #888);
    overflow-x: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: $board-popup-width;
    min-height: $board-popup-height;
    background-color: $white;
    border-radius: $border-radius;
    z-index: 1100;
    padding: $spacing-xl $spacing-xxl;
    display: flex;
    flex-direction: column;
    align-items: start;

    &__close {
        @include icon;
        position: absolute;
        top: 10px;
        right: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    &__create-button, &__delete-button, &__edit-button, &__confirm-button {
        width: 440px;
        min-height: $button-height;
        border: none;
        border-radius: $border-radius;
        color: white;
        margin-top: 24px;

        &:hover {
            cursor: pointer;
        }

        &:disabled {
            opacity: 0.6;
            cursor: not-allowed;
        }

    }

    &__create-button, &__edit-button {
        background-color: black;
    }

    &__delete-button {
        background-color: $error-color;
    }
}


.popup__text {
    max-width: calc($board-popup-width - 2 * $spacing-xxl);
    align-self: flex-start;
    margin-bottom: 12px;
    overflow-wrap: break-word;
}

.private-checkbox-area {
    align-self: flex-start;
    display: flex;
    gap: 10px;

    input {
        appearance: none;
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #666;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
        position: relative;
    }

    input:checked {
        content: url("/public/icons/tick-box.svg");
        border: none;
    }

    &:hover {
        cursor: pointer;
    }
}

.popup__confirm-button {
    position: relative;
    background-color: #000;

    &::before {
        content: "Вы уверены что хотите удалить доску?";
        position: absolute;
        top: -30px;
        left: 0;
        color: black;
    }
}
