@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;


.pin {
    width: 210px;
    border-radius: $border-radius;
    background-color: $button-dark;
    margin-bottom: 20px;
    display: inline-block;
    overflow: hidden;
    position: relative;

    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        [class*=" pin__"] {
            visibility: visible;
        }
        .pin__picture {
            filter: brightness(0.65);
        }
    }

    &__picture {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    &__save-button, &__delete-button,
    &__save-button_active, &__edit-button {
        position: absolute;
        z-index: 50;
    }

    &__edit-button, &__delete-button {
        @include icon;
        bottom: 10px;
        right: 10px;
    }

    //&__edit-button {
    //    right: 34px;
    //}
    //&__delete-button {
    //}

    &__save-button {
        background-color: $white;

        &, &_active {
            right: 6px;
            top: 6px;
            width: 94px;
            height: 44px;
            border-radius: $border-radius;
            border: none;
        }
        &:hover {
            background-color: $black;
            color: $white;
            cursor: pointer;
        }
    }


    &__save-button_active {
        color: $white;
        background-color: $black;

        &:hover {
            cursor: pointer;
        }
    }

    &__dropdown-button {
        width: $icon-size;
        height: $icon-size;

        right: 106px;
        top: 16px;

        img {
            @include icon;
        }
    }

    &__dropdown-board {
        top: 16px;
        left: 10px;
        color: $white;
        max-width: 70px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.dropdown-block {
    position: absolute;
    top: 16px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    width: 100px;
    height: 32px;
}
