.feed--card {
    width: 100%;
    min-width: 205px;
    border-radius: 20px;
    background-color: #303030;
    break-inside: avoid;
    z-index: 100;
}

.feed--card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 20px;
}
