@use 'shared/styles/variables' as *;

.pin {
    width: 205px;
    border-radius: $border-radius;
    background-color: $button-dark;
    margin-bottom: 20px;
    display: inline-block;
    overflow: hidden;

    transition: all 0.3s ease;

    img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
} 