@use 'shared/styles/variables' as *;


.pin {
    width: 210px;
    border-radius: $border-radius;
    background-color: $button-dark;
    margin-bottom: 20px;
    display: inline-block;
    overflow: hidden;
    position: relative;

    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
        [class*=" pin__"] {
            visibility: visible;
        }
        .pin__picture {
            filter: brightness(0.65);
        }
    }

    &__picture {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    &__save-button, &__dropdown-button, &__dropdown-board,
    &__delete-button, &__save-button_active, &__edit-button {
        position: absolute;
        z-index: 50;
    }

    &__edit-button {
        bottom: 10px;
        right: 34px;
        width: $icon-size;
        height: $icon-size;
    }

    &__delete-button {
        bottom: 10px;
        right: 10px;
        width: $icon-size;
        height: $icon-size;
    }

    &__save-button {
        background-color: $white;

        &, &_active {
            right: 6px;
            top: 6px;
            width: 94px;
            height: 44px;
            border-radius: $border-radius;
            border: none;
        }

        &:hover {
            background-color: $black;
            color: $white;
            cursor: pointer;
        }
    }


    &__save-button_active {
        color: $white;
        background-color: $black;

        &:hover {
            cursor: pointer;
        }
    }

    &__dropdown-button {
        width: $icon-size;
        height: $icon-size;

        right: 106px;
        top: 16px;
    }

    &__dropdown-board {
        top: 16px;
        left: 10px;
        color: $white;
    }
}
