@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.main-page {
    background: $gradient-dark;
    display: grid;
    grid-template-columns: $sidebar-width auto;
    grid-template-rows: $navbar-height auto;
    grid-template-areas:
        "header header"
        "sidebar page";
    gap: 0;
}

.feed-container {
    @include content-area;
}

.feed {
    width: 100%;
}

.skeleton {
    &-1, &-2, &-3 {
        break-inside: avoid;
        width: 100%;
        border-radius: $border-radius;
        background-color: $button-dark;
        margin-bottom: 20px;
        display: inline-block;
    }

    &-1 {
        height: 205px;
    }

    &-2 {
        height: 285px;
    }

    &-3 {
        height: 365px;
    }
}
