@use 'shared/styles/variables' as *;
@use 'shared/styles/mixins' as *;

.main-page {
    @include main-page;
}

.feed-container {
    grid-area: page;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - $navbar-height);
}

.feed {
    width: 100%;
    padding-right: $feed-padding;
}

@media (max-width: $mobile-width) {
    .feed {
        //padding: 0 $mobile-horizontal-padding;
        padding: 0;
    }
}
