<div class="main-page">
    <div class="feed-container">
        <div class="feed" id="feed">
        </div>
    </div>
    <div class="scroll-to-top hidden">
        <img src="/public/icons/arrow-up.svg" alt="scroll to top">
    </div>
</div>